.cloud-container {
    width: 100% !important;
    height: 100% !important;
    position: relative;
}

@function random_range($min, $max) {
    @return $min +random($max - $min + 2);
}

@for $i from 1 through 45 {
    .cloud#{$i} {
        $width: random_range(80, 130) * 0.1em;
        $height: random_range(50, 100) * 0.1em;
        $top: random_range(5, 95) * 1%;
        $left: (
            100% / 28) * $i;
        /* Adjusted to evenly distribute across container */

        background-color: rgba(255, 255, 255, random_range(70, 95) * 0.01
        );
    border-radius: $height;
    box-shadow:
        inset 0 0 0 2px hsla(0, 0%, 100%, 0.5),
        0 4px 6px hsla(0, 0%, 0%, 0.1);
    height: $height;
    left: min(calc(#{$left} - (#{$width} / 2)), calc(100% - #{$width}));
    /* Prevent right-side overflow */
    position: absolute;
    top: $top;
    width: $width;

    &:before,
    &:after {
        content: '';
        background: inherit;
        border-radius: 50%;
        position: absolute;
    }

    &:before {
        $size: random_range(60, 85) * 0.01;
        width: $width * $size;
        height: $height * $size;
        top: $height * -0.4;
        left: $width * 0.2;
    }

    &:after {
        $size: random_range(25, 75) * 0.01;
        width: $width * $size;
        height: $height * $size;
        top: $height * -0.2;
        right: $width * 0.2;
    }
}
}