@font-face {
  font-family: Maston;
  src: url("@/assets/Fonts/MRKMaston-Bold.woff2") format("truetype");
}

.mountain {
  font-family: Maston;
  height: 100vh;
  overflow: hidden;
}

.height-indicator {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.height-scale {
  position: relative;
  height: 9700px;
  font-size: 1.8em;
  width: 100%;
  z-index: 3;
}
.height-mark {
  position: absolute;
  width: 100%;
  border-bottom: 1px dashed #ddd;
  color: rgb(255, 255, 255);
  text-align: right;
  padding-right: 10px;
  z-index: auto;
}
.height-mark-8k {
  color: rgb(209, 32, 32);
}
.card {
  position: absolute;
  width: 25%;
  transition: transform 0.3s ease, z-index 0s 0.3s;
  z-index: 1;
}

.card:hover {
  transform: translateY(-10px);
  z-index: 10;
  transition: transform 0.3s ease, z-index 0s;
}

.card-wrapper {
  position: relative;
  width: 100%;
}

.card img {
  height: 75%;
  margin: auto;
}

.card-wrapper img {
  width: 50%;
}

.card-image {
  z-index: -20;
  transition: all 0.3s ease-in-out;
  width: 70%;
  opacity: 0.8;
}

.card-content {
  display: none;
  transition: all 0.3s ease-in-out;
  background: linear-gradient(to bottom, #f0fdfa, #34d399);
  border: 2px solid #065f46;
  border-radius: 12px;
  padding: 1.5rem;
}

.card-content img {
  width: 80%;
  border: 2px solid #fbbf24;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card:hover .card-image {
  opacity: 0;
}

.card:hover .card-content {
  display: block;
  opacity: 1;
}

.card-content h1 {
  color: #1f2937;
}

.card-content .grid {
  border-color: #065f46;
  color: #1f2937;
}

.card-content .additional-content {
  background-color: #fef9c3;
  border-color: #fbbf24;
  color: #1f2937;
}

.height-scale:last-child {
  padding-bottom: 1000px;
}

.scroll-indicator {
  position: fixed;
  font-size: 2.5em;
  font-weight: 600;
  top: 10px;
  left: 2.5%;
  color: #000;
  padding: 10px 15px;
  border-radius: 10px;
  z-index: 100;
  transition: all 1.5s ease-in-out;
}

@keyframes flicker {
  0%,
  100% {
    text-shadow: 0 0 10px var(--flicker-color1), 0 0 20px var(--flicker-color2),
      0 0 30px var(--flicker-color3);
  }
  50% {
    text-shadow: 0 0 20px var(--flicker-color2), 0 0 30px var(--flicker-color3),
      0 0 40px var(--flicker-color4);
  }
}

@keyframes ice-shimmer {
  0%,
  100% {
    color: rgb(255, 255, 255);
    text-shadow: 0 0 10px #00f;
  }
  50% {
    border-color: #00ffff;
    text-shadow: 0 0 20px #00f;
  }
}

@keyframes fire {
  0% {
    color: #ff4500;
    text-shadow: 0 0 5px #ffa500, 0 0 10px #ff4500, 0 0 15px #ff8c00,
      0 0 20px #ff0000, 0 0 25px #ff4500;
    transform: translateY(0);
  }
  20% {
    color: #ff8c00;
    text-shadow: 0 0 10px #ff4500, 0 0 20px #ff8c00, 0 0 30px #ff0000,
      0 0 40px #ff4500, 0 0 50px #ffa500;
    transform: translateY(-2px);
  }
  40% {
    color: #ff4500;
    text-shadow: 0 0 10px #ff8c00, 0 0 15px #ff0000, 0 0 25px #ff4500,
      0 0 30px #ffa500, 0 0 35px #ff8c00;
    transform: translateY(2px);
  }
  60% {
    color: #ff0000;
    text-shadow: 0 0 5px #ff4500, 0 0 10px #ff8c00, 0 0 20px #ffa500,
      0 0 25px #ff0000, 0 0 30px #ff4500;
    transform: translateY(-1px);
  }
  80% {
    color: #ff8c00;
    text-shadow: 0 0 10px #ff0000, 0 0 15px #ff4500, 0 0 20px #ff8c00,
      0 0 30px #ff4500, 0 0 35px #ffa500;
    transform: translateY(1px);
  }
  100% {
    color: #ff4500;
    text-shadow: 0 0 5px #ffa500, 0 0 10px #ff4500, 0 0 15px #ff8c00,
      0 0 20px #ff0000, 0 0 25px #ff4500;
    transform: translateY(0);
  }
}

.scroll-indicator--blue {
  animation: ice-shimmer 2s infinite;
}

.scroll-indicator--red {
  animation: fire 1.5s infinite;
}

.dif1-background {
  background: #86cefa;
  background: linear-gradient(
    180deg,
    rgba(134, 206, 250, 1) - 1775%,
    rgba(115, 185, 239, 1) 0%
  );
  background: -webkit-linear-gradient(
    180deg,
    rgba(134, 206, 250, 1) - 1775%,
    rgba(115, 185, 239, 1) 0%
  );
  background: -moz-linear-gradient(
    180deg,
    rgba(134, 206, 250, 1) - 1775%,
    rgba(115, 185, 239, 1) 0%
  );
  transition: all 0.5s ease-in-out;
}
.dif2-background {
  background-color: #73b9ef;
  background: linear-gradient(
    180deg,
    rgba(115, 185, 239, 1) - 1775%,
    rgba(84, 148, 218, 1) 0%
  );
  background: -webkit-linear-gradient(
    180deg,
    rgba(115, 185, 239, 1) - 1775%,
    rgba(84, 148, 218, 1) 0%
  );
  background: -moz-linear-gradient(
    180deg,
    rgba(115, 185, 239, 1) - 1775%,
    rgba(84, 148, 218, 1) 0%
  );
  transition: all 0.5s ease-in-out;
}
.dif3-background {
  background-color: #5494da;
  background: linear-gradient(
    180deg,
    rgba(84, 148, 218, 1) - 1775%,
    rgba(23, 80, 172, 1) 0%
  );
  background: -webkit-linear-gradient(
    180deg,
    rgba(84, 148, 218, 1) - 1775%,
    rgba(23, 80, 172, 1) 0%
  );
  background: -moz-linear-gradient(
    180deg,
    rgba(84, 148, 218, 1) - 1775%,
    rgba(23, 80, 172, 1) 0%
  );
  transition: all 0.5s ease-in-out;
}
.dif4-background {
  background-color: #1750ac;
  background: linear-gradient(
    180deg,
    rgba(23, 80, 172, 1) - 1775%,
    rgba(0, 51, 150, 1) 0%
  );
  background: -webkit-linear-gradient(
    180deg,
    rgba(23, 80, 172, 1) - 1775%,
    rgba(0, 51, 150, 1) 0%
  );
  background: -moz-linear-gradient(
    180deg,
    rgba(23, 80, 172, 1) - 1775%,
    rgba(0, 51, 150, 1) 0%
  );
  transition: all 0.5s ease-in-out;
}
.dif5-background {
  background-color: #003396;
  transition: all 0.5s ease-in-out;
}

@media only screen and (max-width: 1200px) {
  .card {
    width: 90%;
    margin: 0 auto;
  }

  .card img {
    height: 45%;
    margin: auto;
  }

  .card-wrapper img {
    width: 40%;
  }

  .height-scale {
    font-size: 1.5em;
  }

  @keyframes move {
    0% {
      left: 0%;
    }
    50% {
      left: 50%;
    }
    100% {
      left: 0;
    }
  }
}
