@font-face {
  font-family: Maston;
  src: url("@/assets/Fonts/MRKMaston-Bold.woff2") format("truetype");
}
.mountain {
  font-family: Maston;
  height: 100vh;
  overflow: hidden;
}
.height-indicator {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.height-scale {
  position: relative;
  height: 9700px;
  font-size: 1.8em;
  width: 100%;
  z-index: 3;
}
.height-mark {
  position: absolute;
  width: 100%;
  border-bottom: 1px solid #ddd;
  color: black;
  text-align: right;
  padding-right: 10px;
  z-index: auto;
}
.height-mark-8k {
  color: red;
}
.card {
  position: absolute;
  width: 25%;
}
.card img {
  height: 75%;
  margin: auto;
}

.card-wrapper {
  position: relative;
  width: 100%;
}

.card-wrapper img {
  width: 30%;
  border: 1px solid black;
}

.card-image {
  z-index: -20;
  transition: all 0.3s ease-in-out;
  width: 50%;
}

.card-content {
  display: none;
}

.card-content img {
  width: 80%;
}

.card-wrapper:hover .card-image {
  opacity: 0;
}

.iconImage {
  width: 50%;
}

.card-wrapper:hover .card-content {
  position: relative;
  display: block;
  z-index: 50;
}

.height-scale:last-child {
  padding-bottom: 1000px;
}

@keyframes flicker {
  0% {
    text-shadow: 0 0 10px #ffa500, 0 0 20px #ff4500, 0 0 30px #ff8c00;
  }
  50% {
    text-shadow: 0 0 20px #ff4500, 0 0 30px #ff8c00, 0 0 40px #ff0000;
  }
  100% {
    text-shadow: 0 0 10px #ffa500, 0 0 20px #ff4500, 0 0 30px #ff8c00;
  }
}

@keyframes flickerG {
  0% {
    text-shadow: 0 0 10px #32cd32, 0 0 20px #00ff00, 0 0 30px #00fa9a;
  }
  50% {
    text-shadow: 0 0 20px #00ff00, 0 0 30px #00fa9a, 0 0 40px #00ff7f;
  }
  100% {
    text-shadow: 0 0 10px #32cd32, 0 0 20px #00ff00, 0 0 30px #00fa9a;
  }
}

@keyframes ice-shimmer {
  0% {
    border-color: #00f;
    text-shadow: 0 0 10px #00f;
  }
  50% {
    border-color: #00ffff;
    text-shadow: 0 0 20px #00ffff;
  }
  100% {
    border-color: #00f;
    text-shadow: 0 0 10px #00f;
  }
}

.scroll-indicator {
  position: fixed;
  font-size: 2.5em;
  font-weight: 600;
  top: 10px;
  left: 2.5%;
  color: #000;
  padding: 10px 15px;
  border-radius: 10px;
  transition: all 1.5s ease-in-out;
  z-index: 100;
}

.scroll-indicatorG {
  animation: flickerG 2s infinite;
  transition: all 1.5s ease-in-out;
}

.scroll-indicatorR {
  animation: flicker 2s infinite;
  transition: all 1.5s ease-in-out;
}

.scroll-indicatorB {
  animation: ice-shimmer 2s infinite;
  transition: all 1.5s ease-in-out;
}

.dif1-background {
  background-color: #86cefa;
  transition: all 0.5s ease-in-out;
}
.dif2-background {
  background-color: #73b9ef;
  transition: all 0.5s ease-in-out;
}
.dif3-background {
  background-color: #5494da;
  transition: all 0.5s ease-in-out;
}
.dif4-background {
  background-color: #1750ac;
  transition: all 0.5s ease-in-out;
}
.dif5-background {
  background-color: #003396;
  transition: all 0.5s ease-in-out;
}

/* Snowflake */

/* Glowy Border Animation */

/* Ice Cover */
.ice-sheet {
  position: absolute;
  top: 40%;
  left: 0;
  width: 100%;
  background: linear-gradient(to right, #ffffff, #b2ebf2);
  box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0.8); /* Glow effect */
  border-radius: 10px; /* Rounded corners */
  z-index: -5;
}

/* Fire border*/

/* Snow animation from 4000 to 8000 */

/* Clouds */
/* .cloud,
.cloud1,
.cloud2,
.cloud3,
.cloud4,
.cloud5,
.cloud6,
.cloud7,
.cloud8,
.cloud9,
.cloud10,
.cloud11,
.cloud12,
.cloud13,
.cloud14,
.cloud15,
.cloud16,
.cloud17,
.cloud18,
.cloud19,
.cloud20,
.cloud21,
.cloud22,
.cloud23,
.cloud24,
.cloud25 {
  background-color: #fff;
  background-image: -webkit-linear-gradient(
    hsla(0, 0%, 0%, 0),
    hsla(0, 0%, 0%, 0.1)
  );
  border-radius: 1em;
  box-shadow: inset 0 0 0 2px hsla(0, 0%, 100%, 0.5);
  display: inline-block;
  height: 1.5em;
  left: 50%;
  position: absolute;
  top: 50%;
  width: 3.2em;
  filter: drop-shadow(0 4px 6px hsla(0, 0%, 0%, 0.25));
  -webkit-filter: drop-shadow(0 2px 3px hsla(0, 0%, 0%, 0.25));
  animation: move 39.5s infinite linear;
}

.cloud1 {
  animation: move 40s infinite linear;
}

.cloud2 {
  animation: move 40.25s infinite linear;
}

.cloud3 {
  animation: move 40.5s infinite linear;
}

.cloud4 {
  animation: move 41s infinite linear;
}

.cloud5 {
  animation: move 41.25s infinite linear;
}

.cloud6 {
  animation: move 41.5s infinite linear;
}

.cloud7 {
  animation: move 42s infinite linear;
}

.cloud8 {
  animation: move 42.25s infinite linear;
}

.cloud9 {
  animation: move 42.5s infinite linear;
}

.cloud10 {
  animation: move 43s infinite linear;
}

.cloud11 {
  animation: move 43.25s infinite linear;
}

.cloud12 {
  animation: move 43.5s infinite linear;
}

.cloud13 {
  animation: move 44s infinite linear;
}

.cloud14 {
  animation: move 44.25s infinite linear;
}

.cloud15 {
  animation: move 44.5s infinite linear;
}

.cloud16 {
  animation: move 45s infinite linear;
}

.cloud17 {
  animation: move 45.25s infinite linear;
}

.cloud18 {
  animation: move 45.5s infinite linear;
}

.cloud19 {
  animation: move 46s infinite linear;
}

.cloud20 {
  animation: move 46.25s infinite linear;
}

.cloud21 {
  animation: move 46.5s infinite linear;
}

.cloud22 {
  animation: move 47s infinite linear;
}

.cloud23 {
  animation: move 47.25s infinite linear;
}

.cloud24 {
  animation: move 47.5s infinite linear;
}

.cloud25 {
  animation: move 48s infinite linear;
}

.cloud:after,
.cloud:before,
.cloud1:after,
.cloud1:before,
.cloud2:after,
.cloud2:before,
.cloud3:after,
.cloud3:before,
.cloud4:after,
.cloud4:before,
.cloud5:after,
.cloud5:before,
.cloud6:after,
.cloud6:before,
.cloud7:after,
.cloud7:before,
.cloud8:after,
.cloud8:before,
.cloud9:after,
.cloud9:before,
.cloud10:after,
.cloud10:before,
.cloud11:after,
.cloud11:before,
.cloud12:after,
.cloud12:before,
.cloud13:after,
.cloud13:before,
.cloud14:after,
.cloud14:before,
.cloud15:after,
.cloud15:before,
.cloud16:after,
.cloud16:before,
.cloud17:after,
.cloud17:before,
.cloud18:after,
.cloud18:before,
.cloud19:after,
.cloud19:before,
.cloud20:after,
.cloud20:before,
.cloud21:after,
.cloud21:before,
.cloud22:after,
.cloud22:before,
.cloud23:after,
.cloud23:before,
.cloud24:after,
.cloud24:before,
.cloud25:after,
.cloud25:before {
  background: inherit;
  border-radius: 100%;
  content: "";
  position: absolute;
}

.cloud:after,
.cloud1:after,
.cloud2:after,
.cloud3:after,
.cloud4:after,
.cloud5:after,
.cloud6:after,
.cloud7:after,
.cloud8:after,
.cloud9:after,
.cloud10:after,
.cloud11:after,
.cloud12:after,
.cloud13:after,
.cloud14:after,
.cloud15:after,
.cloud16:after,
.cloud17:after,
.cloud18:after,
.cloud19:after,
.cloud20:after,
.cloud21:after,
.cloud22:after,
.cloud23:after,
.cloud24:after,
.cloud25:after {
  background-image: linear-gradient(
    hsla(0, 0%, 0%, 0) 50%,
    hsla(0, 0%, 0%, 0.025)
  );
  height: 1em;
  right: 0.4em;
  top: -0.5em;
  width: 1em;
}

.cloud:before,
.cloud1:before,
.cloud2:before,
.cloud3:before,
.cloud4:before,
.cloud5:before,
.cloud6:before,
.cloud7:before,
.cloud8:before,
.cloud9:before,
.cloud10:before,
.cloud11:before,
.cloud12:before,
.cloud13:before,
.cloud14:before,
.cloud15:before,
.cloud16:before,
.cloud17:before,
.cloud18:before,
.cloud19:before,
.cloud20:before,
.cloud21:before,
.cloud22:before,
.cloud23:before,
.cloud24:before,
.cloud25:before {
  background-image: linear-gradient(
    hsla(0, 0%, 0%, 0) 50%,
    hsla(0, 0%, 0%, 0.075)
  );
  height: 1.6em;
  left: 0.4em;
  width: 1.7em;
  top: -0.75em;
}

@keyframes move {
  0% {
    left: 0%;
  }
  50% {
    left: 85%;
  }
  100% {
    left: 0;
  }
} */

::-webkit-scrollbar-track {
  border: 1px solid black;
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.44, rgb(122, 153, 217)),
    color-stop(0.72, rgb(73, 125, 189)),
    color-stop(0.86, rgb(28, 58, 148))
  );
}

@media only screen and (max-width: 1200px) {
  .card {
    width: 60%;
    left: auto;
    right: auto;
  }
  .height-scale {
    font-size: 1.5em;
  }

  @keyframes move {
    0% {
      left: 0%;
    }
    50% {
      left: 80%;
    }
    100% {
      left: 0;
    }
  }
}
