@property --angle {
  syntax: '<angle>';
  initial-value: 90deg;
  inherits: true;
}

@property --gradX {
  syntax: '<percentage>';
  initial-value: 50%;
  inherits: true;
}

@property --gradY {
  syntax: '<percentage>';
  initial-value: 0%;
  inherits: true;
}

:root {
  --angle: 45deg;
  --gradX: 100%;
  --gradY: 50%;
}

.boxRb, .boxFr, .boxMc, .boxMe, .boxAl, .boxAr, .boxHa, .boxAm, .boxWi, .boxAt {
  min-width: min(25rem, 100%);
  border: 0.35rem solid;
  padding: 1.5vw;
  border-image: conic-gradient(
      from var(--angle),
      rgba(255, 255, 255, 1),
      rgba(236, 24, 69, 0.1) 0.25turn,
      rgba(254, 213, 2, 1) 0.15turn,
      rgba(168,239,255, 0.0) 0.25turn
    )
    30;
  animation: borderRotate 4000ms linear infinite forwards;
}

.boxFr {
  border-image: conic-gradient(
      from var(--angle),
      rgba(255, 255, 0,1),
      rgba(255, 255, 255, 1) 0.25turn,
      rgba(255, 242, 0, 1) 0.15turn,
      rgba(168,239,255, 0.0) 0.25turn
    )
    30;
}

.boxMc {
  border-image: conic-gradient(
      from var(--angle),
      rgba(0, 0, 0,1),
      rgba(0, 0, 0, 1) 0.25turn,
      rgba(0, 0, 0, 1) 0.15turn,
      rgba(168,239,255, 0.0) 0.25turn
    )
    30;
}

.boxAm {
  border-image: conic-gradient(
      from var(--angle),
      rgba(0, 0, 0,1),
      #00352f 0.25turn,
      rgba(0, 0, 0, 1) 0.15turn,
      rgba(168,239,255, 0.0) 0.25turn
    )
    30;
}

.boxAl {
  border-image: conic-gradient(
      from var(--angle),
      rgba(0, 0, 0, 0),
      rgba(231, 98, 91, 1), 0.25turn,
      #0090ff 0.15turn,
      rgba(168,239,255, 0.0) 0.25turn
    )
    30;
}

.boxAr {
  border-image: conic-gradient(
      from var(--angle),
      rgba(0, 0, 0,1),
      rgba(0, 0, 0, 1) 0.25turn,
      rgba(0, 0, 0, 1) 0.15turn,
      rgba(168,239,255, 0.0) 0.25turn
    )
    30;
}

@keyframes borderRotate {
  100% {
    --angle: 420deg;
  }
}

@keyframes borderRadial {
  20% {
    --gradX: 100%;
    --gradY: 50%;
  }
  40% {
    --gradX: 100%;
    --gradY: 100%;
  }
  60% {
    --gradX: 50%;
    --gradY: 100%;
  }
  80% {
    --gradX: 0%;
    --gradY: 50%;
  }
  100% {
    --gradX: 50%;
    --gradY: 0%;
  }
}